.navpages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
  padding: 10px 10px; 
  margin: 0 auto;
  margin-top: 1%;
  max-width: 170px; 
  border-radius: 20px;
}

.navpages-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 5px;
}

.navpages-left {
  display: flex; // Add this line
}

.navpages-icon {
  margin-right: 15px; // Increase the margin between icons
}
.navpages-link.active {
  color: red;
}

.navpages-link.active .navpages-icon {
  color: red;
}
