@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
    border-bottom: 1px solid themed("border");
    position: sticky; // Change back to sticky
    top: 0;
    width: 100%;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;
    transition: all 0.3s ease;

    @include tablet {
      padding: 10px 10px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 24px;
        color: themed("logo");

        @include tablet {
          font-size: 20px;
        }

        @include mobile {
          font-size: 18px;
        }
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 30px;
        padding: 5px;
      
        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");
          padding: 5px;
          transition: all 0.3s ease;
      
          &:focus {
            outline: none;
          }
      
          @include mobile {
            width: 100px; // Reduce the width for mobile devices
            font-size: 12px; // Reduce the font size for mobile devices
          }
      
          @include tablet {
            width: 200px;
          }
        }
      }
      
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include tablet {
        gap: 10px;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 300;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;

          @include tablet {
            width: 35px;
            height: 35px;
          }

          @include mobile {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

