@import "../../style.scss";

.profile {
  @include themify($themes) {
    background-color: themed("bgSoft");

    .profilePic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 0px;
      margin-top: 15px;
    }
      
    .profilePicContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: themed("bgSoft");
    }

    .profileContainer {
      padding: 20px 70px;
      margin: 0 auto;
      max-width: 900px;

      @include tablet {
        padding: 20px;
      }

      @include mobile {
        padding: 10px;
      }

      .uInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .left {
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-weight: 500;

          h2 {
            font-size: 24px;
          }

          p {
            font-size: 16px;
            color: themed("textColorSoft");
          }
        }

        .center {
          display: flex;
          align-items: center;
          gap: 10px;

          .info {
            display: flex;
            gap: 20px;

            .item {
              display: flex;
              align-items: center;
              gap: 5px;
              font-size: 14px;
              color: themed("textColorSoft");
            }
          }

          button {
            border: none;
            background-color: #5271ff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        .right {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;

          .item {
            display: flex;
            align-items: center;
            gap: 5px;
            color: themed("textColorSoft");

            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .profileContainer {
    padding: 10px;
  }
}
